<!-- PAGE FOOTER -->
<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white">山东阳光数码科技有限公司 <span class="hidden-xs"> - 运维管理平台</span> © 2018-2020</span>
        </div>
    </div>
</div>
<!-- END PAGE FOOTER -->
