<!-- HEADER -->
<header id="header">
<div id="logo-group">
    <!-- PLACE YOUR LOGO HERE -->
    <span id="logo">
        <a href="/">
            <img src="~/img/logo.png" alt="阳光数码运维平台">
        </a>
    </span>
    <!-- END LOGO PLACEHOLDER -->

    
</div>



<!-- pulled right: nav area -->
<div class="pull-right">

    <!-- collapse menu button -->
    <div id="hide-menu" class="btn-header pull-right">
        <span>
            <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu">
                <i class="fa fa-reorder"></i>
            </a>
        </span>
    </div>
    <!-- end collapse menu -->
    <!-- #MOBILE -->
    <!-- Top menu profile link : this shows only when top menu is active -->
    <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
        <li class="">
            <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
                <img src="~/img/avatars/sunny.png" alt="John Doe" class="online"/>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Setting</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a asp-controller="AppViews" asp-action="Profile" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <u>P</u>rofile</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a asp-controller="Account" asp-action="Logout" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout" >
                        <i class="fa fa-sign-out fa-lg"></i> <strong><u>退出</u></strong>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <!-- logout button -->
    <div id="logout" class="btn-header transparent pull-right">
        <span>
            <a asp-controller="Account" asp-action="Logout" title="退出" data-action="userLogout" >
                <i class="fa fa-sign-out"></i>
            </a>
        </span>
    </div>
    <!-- end logout button -->
    <!-- search mobile button (this is hidden till mobile view port) -->
    <div id="search-mobile" class="btn-header transparent pull-right">
        <span>
            <a href="javascript:void(0)" title="Search">
                <i class="fa fa-search"></i>
            </a>
        </span>
    </div>
    <!-- end search mobile button -->
    <!-- input: search field -->
    <form asp-controller="AppViews" asp-action="Search" class="header-search pull-right">
        <input id="search-fld" type="text" name="param" placeholder="搜索" data-autocomplete='[
					"ActionScript",
					"AppleScript",
					"Scheme"]'>
        <button type="submit">
            <i class="fa fa-search"></i>
        </button>
        <a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search">
            <i class="fa fa-times"></i>
        </a>
    </form>
    <!-- end input: search field -->
    
    
</div>
<!-- end pulled right: nav area -->
</header>
<!-- END HEADER -->
