<!-- RIBBON -->
<div id="ribbon">

    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> 此操作将还原您所有的设置。" data-html="true">
            <i class="fa fa-refresh"></i>
        </span>
    </span>
</div>
<!-- END RIBBON -->
