@model LoginPostModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html class="loginHtml">
<head>
    <meta charset="utf-8">
    <title>登录--运维管理平台1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="~/css/public.css" media="all" />
</head>
<body class="loginBody">
<form class="layui-form" id="login-form">
    <div class="login_face"><img src="~/images/face.jpg" class="userAvatar"></div>
    <div class="layui-form-item input-item">
        <label asp-for="Email">邮箱</label>
        <input type="text" placeholder="请输入邮箱" autocomplete="off" asp-for="Email" class="layui-input" lay-verify="email">
    </div>
    <div class="layui-form-item input-item">
        <label asp-for="Password">密码</label>
        <input type="password" placeholder="请输入密码" autocomplete="off" asp-for="Password" class="layui-input" lay-verify="required">
    </div>
    <div class="layui-form-item input-item" id="imgCode">
        <label asp-for="Captcha">验证码</label>
        <input type="text" placeholder="请输入验证码" autocomplete="off" asp-for="Captcha" class="layui-input" lay-verify="required">
        <img src="" id="loginCaptcha">
    </div>
    <div asp-validation-summary="All"></div>
    <div class="layui-form-item">
        <button class="layui-btn layui-block" lay-filter="login" lay-submit>登录</button>
    </div>
    <div class="layui-form-item layui-row">
        <a href="@Url.Action("Register","Account")">去注册</a>
    </div>
</form>
<script type="text/javascript" src="~/layui/layui.js"></script>
<script type="text/javascript" src="~/js/login.js"></script>
<script type="text/javascript" src="~/js/cache.js"></script>

</body>
</html>