
@{
    ViewData["Title"] = "设备详情";
}

<form class="layui-form " style="width:80%;">
    @Html.AntiForgeryToken()
    @Html.Hidden("Id")
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input type="text" name="Name" class="layui-input" id="Name" lay-verify="required" autocomplete="off" placeholder="请输入名称">
        </div>
    </div>

    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">型号</label>
        <div class="layui-input-block">
            <input type="text" name="Version" class="layui-input" id="Version" placeholder="请输入型号" lay-verify="required" autocomplete="off" />
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">制造商</label>
        <div class="layui-input-block">
            <input type="text" name="Maker" class="layui-input" id="Maker" placeholder="请输入制造商" lay-verify="required" autocomplete="off" />
        </div>
    </div>
    
    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="addDevice">确定</button>
            <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
        </div>
    </div>
</form>
@section Scripts{
    <script type="text/javascript" src="~/layui/layui.js"></script>
    <script type="text/javascript" src="~/js/deviceIndex.js?_=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
}






